TERMINAL_MODAL_IMAGE=
TERMINAL_TIMEOUT=
TERMINAL_LIFETIME_SECONDS=
BROWSERBASE_PROXIES=
BROWSERBASE_ADVANCED_STEALTH=
BROWSER_SESSION_TIMEOUT=
BROWSER_INACTIVITY_TIMEOUT=
WEB_TOOLS_DEBUG=
VISION_TOOLS_DEBUG=
MOA_TOOLS_DEBUG=
IMAGE_TOOLS_DEBUG=
ANTHROPIC_TOKEN=
ANTHROPIC_API_KEY=
HERMES_MAX_ITERATIONS=
WHATSAPP_ENABLED=
WHATSAPP_MODE=
WHATSAPP_ALLOWED_USERS=
OPENROUTER_API_KEY=
DREAMPLAY_EMAIL_API_KEY=
TELEGRAM_BOT_TOKEN=
